"*":
  "atom-ctags": {}
  "autocomplete-plus":
    enableAutoActivation: false
  core:
    audioBeep: false
    disabledPackages: [
      "exception-reporting"
      "linter"
    ]
    ignoredNames: [
      ".bundle"
      ".git"
      "_build"
      "deps"
      "log"
      "node_modules"
      "repositories"
      "tags"
      "tmp"
    ]
    themes: [
      "atom-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "git-diff-details":
    closeAfterCopy: true
  "git-history":
    showDiff: false
  "git-plus":
    openInPane: false
    verboseCommit: true
    wordDiff: false
  "merge-conflicts": {}
  "ruby-test":
    rspecAllCommand: "source ~/.zshrc && spring rspec --tty"
    rspecFileCommand: "source ~/.zshrc && spring rspec --tty {relative_path}"
    rspecSingleCommand: "source ~/.zshrc && spring rspec --tty {relative_path}:{line_number}"
    shell: "zsh"
    specFramework: "rspec"
  welcome:
    showOnStartup: false
