'atom-text-editor':
  'ctrl-k': 'editor:delete-to-end-of-line'

'atom-text-editor.autocomplete-active':
  'space': 'autocomplete-plus:confirm'

# Needed to override 'linter:next-error'
'atom-text-editor:not(.mini)':
  'alt->': 'core:move-to-bottom'

'body':
  'alt-<': 'core:move-to-top'
  'alt->': 'core:move-to-bottom'

  # Left-to-right tab cycling
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-shift-tab ^ctrl': 'unset!'

'.platform-darwin':
  # Create a split pane with the current pane item moved into it
  'cmd-k m left':  'pane:split-left-and-move-active-item'
  'cmd-k m right': 'pane:split-right-and-move-active-item'
  'cmd-k m up':    'pane:split-up-and-move-active-item'
  'cmd-k m down':  'pane:split-down-and-move-active-item'

  # Move the current pane item to the target split pane
  'cmd-ctrl-shift-left':  'window:move-active-item-to-pane-on-left'
  'cmd-ctrl-shift-right': 'window:move-active-item-to-pane-on-right'
  'cmd-ctrl-shift-up':    'window:move-active-item-to-pane-above'
  'cmd-ctrl-shift-down':  'window:move-active-item-to-pane-below'

'atom-workspace atom-text-editor':
  # These conflict with multi-cursor-plus
  'alt-ctrl-p': 'unset!'
  'alt-ctrl-n': 'unset!'
  'alt-ctrl-b': 'unset!'
  'alt-ctrl-f': 'unset!'

'atom-workspace':
  'alt-m':      'multi-cursor-plus:mark'
  'alt-ctrl-p': 'multi-cursor-plus:move-up'
  'alt-ctrl-n': 'multi-cursor-plus:move-down'
  'alt-ctrl-b': 'multi-cursor-plus:move-left'
  'alt-ctrl-f': 'multi-cursor-plus:move-right'
  'alt-ctrl-a': 'multi-cursor-plus:move-to-first-character-of-line'
  'alt-ctrl-e': 'multi-cursor-plus:move-to-end-of-line'

'atom-text-editor:not(mini)[data-grammar^="source elixir"]':
  'ctrl-shift-d': 'atom-elixir:show-elixir-docs'

'atom-text-editor:not([mini])[data-grammar^="source elm"]':
  'ctrl-shift-d': 'elmjutsu:go-to-definition'
  'ctrl-r': 'elmjutsu:go-to-symbol'
  'alt-j': 'elmjutsu:go-to-next-usage'
  'alt-k': 'elmjutsu:go-to-previous-usage'
  'alt-i': 'elmjutsu:infer-type'
  'alt-l': 'elmjutsu:lift-to-let'
  'alt-shift-l': 'elmjutsu:surround-with-let'
  'alt-t': 'elmjutsu:lift-to-top-level'
