packages: [
  "atom-beautify"
  "atom-elixir"
  "atom-wrap-in-tag"
  "atomic-chrome"
  "auto-update-packages"
  "close-tags"
  "date"
  "elmjutsu"
  "file-icons"
  "git-history"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "language-elixir"
  "language-elm"
  "language-haml"
  "language-rspec"
  "linter"
  "linter-write-good"
  "merge-conflicts"
  "multi-cursor-plus"
  "package-sync"
  "pane-layout-plus"
  "pigments"
  "rails-snippets"
  "rails-transporter"
  "react"
  "ruby-test"
  "split-diff"
  "stylus"
]
