packages: [
  "atom-beautify"
  "atomic-chrome"
  "autocomplete-elixir"
  "close-tags"
  "date"
  "file-icons"
  "git-history"
  "git-plus"
  "git-time-machine"
  "language-eco"
  "language-elixir"
  "language-elm"
  "language-haml"
  "language-rspec"
  "linter"
  "linter-write-good"
  "merge-conflicts"
  "package-sync"
  "pane-layout-plus"
  "rails-snippets"
  "rails-transporter"
  "ruby-test"
  "split-diff"
]
